.expense-input {
  margin: 20px 0;
  padding: 10px;
  border: 2px solid;
  width: 93%;
  text-align: center;
}

.expense-number {
  padding-top: 10px;
}

input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  display: inline;
}

.btn {
  border-radius: 3px;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.delete-btn {
  padding-left: 50px;
  padding-top: 10px;
  opacity: 50%;
}

.expense-description {
  resize: none;
}

.expense-description-input {
  border: none;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  background-color: #67e8f9;
}

.item-btn {
  background-color: #67e8f9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.total-number {
  color: #2684ff;
  font-weight: bold;
}
